  table {
    border-collapse: collapse;
  }

  th {
    height: 50px;
    border: 1px solid #ccc;
  }

  td {
    width: 300px;
    height: 100px;
    border: 1px solid #ccc;
    text-align: center;
    vertical-align: middle;
  }

  .cause-input {
    width: 90%;
    height: 80%;
    box-sizing: border-box;
  }

  textarea {
    width: 100%;
    min-height: 200px;
    resize: vertical;
    padding: 8px;
    box-sizing: border-box;
  }
/* ===== ANALYSE COMPLEMENTAIRE HIPO ===== */

.hipo {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.hipo-row {
    display: flex;
    gap: 40px;
}

.hipo-row .question {
    flex: 2;
}

.hipo-block {
    width: 100%;
}

.hipo textarea {
    width: 100%;
    min-height: 90px;
    margin-top: 8px;
}

.inline-options {
    margin-bottom: 8px;
}

.options label {
    display: inline-block;
}
