table {
    width: 100%;
}

td,
th {
    padding: 8px 12px;
    border: 1px solid #ccc;
    vertical-align: middle;
    /* ✅ aligne verticalement au centre */
    text-align: left;
}

select{
    vertical-align: middle;
    width: 150px;
    padding: 5px;
}
textarea {
    height: 15p0x;
}